<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Frist html page</title>
    {% comment %} <link rel="stylesheet" href="style.css"> {% endcomment %}
  </head>
  <body>
	{% comment %} <script src="index.js"></script> {% endcomment %}
    <h1>Event Registration App</h1>
    {% block page %}
    <button> <a href = {% url 'Register' %}>Event Registration</a></button>
    <button> <a href = {% url 'Participant' %}>Participant Registration</a></button>
    {% endblock page %}
  </body>
</html>